.box{
    border: 2px solid black;
    height: 40px;
    width:40px;
    padding:20px;
    text-align:center;


}
.container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
    
}
